
h1 {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    border: 50px solid #DC143C;
    margin: 20px;
    
}

p,body {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    margin: 20px;
    
}


table {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    border: 2px solid #333333;
    margin: 10px;
    
}


